.example-card {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 1%; */
    height: 370px;
    background-color: rgba(255, 255, 255, 1);
}

form.normal-form {
    margin: 5px;
}

.controles-container {
    /* width: 100%; */
    padding-left: 5%;
}

.controles-container > * {
    width: 100%;
}

.add-bottom-padding {
        padding-bottom: 4px;
        margin-top: 20px ;
}
mat-radio-group mat-radio-group {
    margin-left: 2px;
}

.button-row button {
    margin: 5px;
    margin-top: 18px;
}
.container{
  background-image: url("../register/image/registerImage.jpg");
  height: 84vh;

}
.radio-button{
  padding-left: 4px;
    padding-right: 15px;
}
.group{
  color: black;
}
.submit-button {
  margin-left:75px;
  align-items: center;
}

.clear-button {
  margin-left: 35px;
  align-items: center;
}
/* .button-row {
  margin-top: 5px;
} */
/* .pass-input {
  margin-top: 3px;
} */

/* .dob-input {
  margin-top: 3px;
} */
/* .contry-container {
 margin-bottom: 4px;
} */
