
<div class="container"
     fxLayoutAlign="center center">

<mat-card class="example-card">
<form [formGroup]="service.form" class="normal-form">
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="firstName" matInput placeholder="First Name*">
                    <mat-error *ngIf="service.form.controls['firstName'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['firstName'].errors?.pattern">Enter valid Name</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="lastName" matInput placeholder="Last Name*">
                    <mat-error *ngIf="service.form.controls['lastName'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['lastName'].errors?.pattern">Enter valid Name</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="E-Mail ID*" type="text">
                    <mat-error *ngIf="service.form.controls['email'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['email'].errors?.pattern">Invalid Email Address</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="contactNo" matInput placeholder="Contact No.*" type="text">
                    <mat-error *ngIf="service.form.controls['contactNo'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['contactNo'].errors?.pattern">Invalid Mobile Number</mat-error>
                </mat-form-field>
                <div class="add-bottom-padding">
                  <mat-label  class="group">Gender:</mat-label>
                    <mat-radio-group formControlName="gender" class="radio-group">
                        <mat-radio-button value="1" class="radio-button">Male</mat-radio-button>
                        <mat-radio-button value="2" class="radio-button">Female</mat-radio-button>
                        <mat-radio-button value="3" class="radio-button">Other</mat-radio-button>
                      </mat-radio-group>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-select formControlName="country" placeholder="Country" class="contry-container">
                      <mat-option>None</mat-option>
                      <ng-container *ngFor="let country of countries">
                        <mat-option value="{{country}}">{{country}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                      <input formControlName="dob" matInput [matDatepicker]="picker" [max]="getToday()" placeholder="Date of Birth" class="dob-input">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <input formControlName="password" matInput placeholder="Password*" type="password" class="pass-input">
                    <mat-error *ngIf="service.form.controls['password'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['password'].errors?.pattern">Enter valid and strong password</mat-error>
                </mat-form-field>
                  <div class="add-bottom-padding">
                    <mat-checkbox (change)="changeCheck($event)">I agree to</mat-checkbox>
                    <a href="https://www.website.com/terms-and-conditions/">Trems And Conditions</a>
                  </div>
                  <div class="button-row">
                     <!-- <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid" (click)="onSubmit()">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>  -->
                     <button mat-raised-button  color="primary" type="submit" [disabled]="service.form.invalid || disabledAgreement" (click)="onSubmit()" class="submit-button">Submit</button>
                     <button mat-raised-button color="primary" (click)="onClear()" class="clear-button">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>
</mat-card>
</div>
