.example-card {
    width:30%;
    height: 250px;
    background-color: rgba(255, 255, 255,1);
}
.container{
  background-image: url("../log-in/images/loginImage.jpg");
  height: 80vh;

}
.example-full-width{
  width: 100%;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child, .mat-card-actions .mat-stroked-button:first-child {
  margin-left: 130px;
  margin-right: 0;
}
button{
  margin: auto;
}

mat-card-title{
  margin-left: 100px;
}
