<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>NewsApp </span>
        <span class="example-spacer"></span>

        <a mat-raised-button routerLink="/home" class="nav-button">HOME</a>
        <a mat-raised-button routerLink="." class="nav-button">SAVED NEWS</a>
        <a mat-raised-button routerLink="/sports" class="nav-button">SPORTS</a>
        <button mat-raised-button class="nav-button" [matMenuTriggerFor]="menu2">SOURCES</button>

        <mat-menu #menu2="matMenu">
            <mat-list class="list-nav">
                <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.id);">

                    <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ source.id +'.png)'}"
                        class="example-source"></div>
                    <span class="source-name"> {{source.name}}</span>

                </mat-list-item>
            </mat-list>
        </mat-menu>
        <a mat-raised-button routerLink="." class="nav-button">WHEATHER</a>
        <a mat-raised-button routerLink="/signup" class="nav-button">LOGOUT</a>
    </mat-toolbar-row>
</mat-toolbar>

<mat-list class="list-nav">
    <div>
        <mat-card class="example-card" *ngFor="let article of mArticles">
            <mat-card-header>
                <div mat-card-avatar
                    [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}"></div>
                <mat-card-title class="title">{{article.title}}</mat-card-title>
                <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
            <mat-card-content>
                <p>
                    {{article.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</mat-list>
