<mat-toolbar color="primary">
  <mat-toolbar-row>

      <span>NewsApp </span>
      <span class="example-spacer"></span>
      <!-- <button mat-menu-item routerLink="/signup">SignOut</button> -->
      <a mat-raised-button routerLink="/home" class="nav-button">HOME</a>
      <a mat-raised-button routerLink="/sports" class="nav-button">SPORTS</a>
      <a mat-raised-button routerLink="." class="nav-button">SAVED NEWS</a>
      <a mat-raised-button routerLink="/article" class="nav-button"> ARTICLE</a>
      <a mat-raised-button routerLink="/wheather" class="nav-button">WHEATHER</a>
      <a mat-raised-button  routerLink="/signup" class="nav-button">LOGOUT</a>
  </mat-toolbar-row>
</mat-toolbar>
