<mat-toolbar color="primary">
  <mat-toolbar-row>

      <span>NewsApp </span>
      <span class="example-spacer"></span>
      <!-- <button mat-menu-item routerLink="/signup">SignOut</button> -->
      <a mat-raised-button routerLink="/home" class="nav-button">HOME</a>
      <a mat-raised-button routerLink="/sports" class="nav-button">SPORTS</a>
      <a mat-raised-button routerLink="." class="nav-button">SAVED NEWS</a>
      <a mat-raised-button routerLink="/article" class="nav-button"> ARTICLE</a>
      <a mat-raised-button routerLink="/wheather" class="nav-button">WHEATHER</a>
      <a mat-raised-button  routerLink="/signup" class="nav-button">LOGOUT</a>
  </mat-toolbar-row>
</mat-toolbar>

<table mat-table  class="mat-elevation-z8">
  <!-- [dataSource]="dataSource" -->
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element">45  </td>
  </ng-container>

  <!-- Url Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Url </th>
    <td mat-cell *matCellDef="let element"> fytacwdtydvacjdh </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button >Edit</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


