<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Contact Us</button>
            <button mat-menu-item routerLink="/signup">SignOut</button>
        </mat-menu>
        <span>News-App </span>
        <span class="example-spacer"></span>

        <a mat-raised-button routerLink="." class="nav-button">HOME</a>
        <a mat-raised-button routerLink="." class="nav-button">NEWS</a>
        <a mat-raised-button routerLink="." class="nav-button">SPORTS</a>
        <a mat-raised-button routerLink="." class="nav-button">MUSIC</a>
        <a mat-raised-button routerLink="/article" class="nav-button"> Article</a>
        <a mat-raised-button routerLink="." class="nav-button">WHEATHER</a>
        <a mat-raised-button routerLink="/signup" class="nav-button">LOGIN</a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card class="main-mat-card">
    <p class="wlcm-div">Welcome to NewApp</p>
    <!-- <div ng-app ng-controller="Ctrl"> // this div will be used to display for the current date
        {{date | date:'yyyy-MM-dd'}}
    </div> -->
    
</mat-card>